label {
    display: inline-block;
    width: 140px;
    text-align: right;
}

div.form-control {
    margin: 5px;
    width: 500px;
}

input[type='text'], input[type='email'], input[type='password'] {
    width: calc(100% - 150px);
}
.messages{
    text-align: center;
}
.messages p, .messages pre {
    text-align: center;
}