.container{
    text-align: center;
    width: 100%;
}
.container div{
    height: 150px;
    line-height: 150px;
    width: 200px;
    background-color: #ddd;
    display: inline-block;
}
.container div a{
    height: 100%;
    width: 100%;
    display: inline-block;
}
header{
    height: 100px;
    text-align: center;
    background-color: rgba(10, 140, 255, 0.09);
    margin-bottom: 50px;
}
header h2{
    padding-top: 30px;
}
header div{
    text-align: left;
}